body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('5b7b3e266ab15b1eb8230840694b5e00.png');
}

.header {
    background-color: #1a1a1a;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.s1, .s2, .s3 {
    padding: 40px;
    text-align: center;
}

.s1 h3, .s2 h3, .s3 h3 {
    color: #1a1a1a;
    font-size: 28px;
    margin-bottom: 20px;
}

.s1 p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
}

.s1 button {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.s1 img, .s2 .i1 img {
    width: 100%;
    height: auto;
}

.s3 button {
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

footer {
    background-color: #555;
    text-align: center;
    padding: 30px;
    color: #1a1a1a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}